<!DOCTYPE html>
<html>

<head>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	<meta charset="UTF-8">
	<title>오류 페이지</title>
</head>

<body>
	<div class="d-flex align-items-center justify-content-center vh-100">
		<div class="text-center">
			<h1 class="display-1 fw-bold">400</h1>
			<p class="fs-3"> <span class="text-danger">Error!</span> Bad Request.</p>
			<p class="lead">
				잘못된 요청입니다.
			</p>
			<a href="/" class="btn btn-primary">Go Home</a>
		</div>
	</div>
</body>

</html>